html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
}

header>nav {
  background-color: #f2f2f2;
}

.club-carousel {
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.club-carousel .club-card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}

.club-carousel a {
  text-decoration: none;
}

.club-carousel .club-card .title {
  position: absolute;
  bottom: 0.5em;
  width: 200px;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
}

.club-carousel .club-card .logo {
  z-index: -1;
  width: 200px;
  height: 200px;
  object-fit: cover;
}